.notificationsIcon {
	background-color: white;
	background-image: url('https://res.cloudinary.com/dby88h516/image/upload/v1580892708/bell_1_culslv.svg');
	background-repeat: no-repeat;
	background-size: '100% 100%';
}

.notification:hover {
	background-color: '#F1F1F1';
}
